.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    width: 200px;
    padding: .2em .4em;
    margin-top: .4em;
  }
  > span {
    text-align: center;
    font-size: .8rem;
    color: red;
    font-weight: bold;
  }
  > a {
    text-align: center;
  }
}

.errorForm input {
  border: solid red 2px;
  border-radius: 2px;
}
.errorForm ::placeholder {
  color: red;
}
